@media (max-width: 1900px) {
    .container {
        max-width: 100%;
    }
    .block1 {
        max-width: 100%;

        .block1_button_start_earning {
            width: 24%;
        }

        header {
            max-width: 100%;

            .block1_button_login_register {
                width: 20%;
            }

            .header_text_div {
                width: 56%;
            }

            .swiper-container {
                width: 70%;
            }
            .header_img_div {
                width: 100%;
            }
        }
    }
    .block2 {
        width: 100%;
    
        .block2_main {
            width: 1480px;
            height: 1055px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .block2_main_podblock1 {
                width: 100%;
                height: 547px;
                margin-right: auto;
                display: flex;
                justify-content: space-between;
    
            }
    
        }
    }
}