@media (max-width: 1900px) {
    .container {
        width: 100%;
    }

    .block1 {

        .block1_button_start_earning {
            width: 24%;
        }

        header {
            max-width: 100%;

            .block1_button_login_register {
                width: 20%;
            }

            .header_text_div {
                width: 56%;
            }

            .swiper-container {
                width: 70%;
            }

            .header_img_div {
                width: 100%;
            }
        }
    }

    .block2 {

        .block2_main {
            width: 1480px;
            height: auto;

            .block2_main_podblock1 {
                width: 100%;

                .block2_main_podblock1_2 {
                    width: 45%;
                }
            }

            .block2_main_podblock2 {
                justify-content: center;

            }

        }
    }

    .block3 {

        .block3_podblock1 {
            width: 90%;
        }

        .block3_img {
            width: 20%;
        }
    }

    .block5 {
        .block5_main{
            .block5_podblock2 {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 1480px) {
    .block4 {
        .block4_main {
            .block4_podblock2 {
                width: 100%;
                justify-content: space-around;
            }
        }
    }
}