button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container {
    background-color: white;
    position: relative;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.p_black {
    color: black;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;
    text-decoration: none;
}

.p_blue {
    color: #133F8D;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: medium;
    text-decoration: none;
}

.p_white {
    color: white;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;
    text-decoration: none;
}

.block1 {
    max-width: 100%;
    height: 907px;

    .block1_button_start_earning {
        width: 468px;
        height: 904px;
        background-color: #194DD2;
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 600;
        font-style: bold;
        font-size: 36px;
        padding: 300px 0px 300px 0px;

        p {
            width: 100%;
            margin: 0;
        }

    }

    header {
        max-width: 1920px;
        height: 904px;
        z-index: 0;
        position: absolute;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        font-size: 18px;

        .block1_button_login_register {
            width: 339px;
            height: 117px;
            background-color: #194DD2;
            z-index: 1;
        }

        .header_text_div {
            width: 1113px;
            height: 117px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            background-color: black;

            .header_text_div2 {
                width: 818px;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .header_img_div {
            width: 1452px;
            height: 904px;
            position: absolute;
            z-index: 0;
            background-image: url("/img/monitor_guy.png");
            background-size: cover;
        }

        .swiper-container {
            width: 1321px;
            height: 515px;
            overflow: hidden;

            .swiper-slide {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: white;

                h2 {
                    font-size: 52px;
                    width: 100%;
                    line-height: 1.5;
                    margin: 0;
                }

                p {
                    font-size: 22px;
                    width: 100%;
                    margin-bottom: 67px;
                    line-height: 2;
                }

                button {
                    background-color: none;
                    color: white;
                    border: solid 2px rgb(255, 255, 255);
                    border-radius: 36px;
                    width: 300px;
                    height: 60px;
                    font-size: 18px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                }
            }

            .swiper-pagination {
                left: 87%;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: end;
                flex-direction: column;
                justify-content: space-between;
                width: 10px;
                height: 70px;
            }

            .swiper-pagination-bullet {
                background: #ffffff;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                opacity: 0.7;
                margin-top: 10px;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}

.block2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;

    .block2_main {
        width: 1480px;
        height: 1055px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .block2_main_podblock1 {
            width: 1402px;
            height: 547px;
            margin-right: auto;
            display: flex;
            justify-content: space-between;

            .block2_main_podblock1_1 {
                width: 629px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .block2_main_podblock1_1_div {
                    width: 304px;
                    height: 327px;
                    background-color: #194DD2;

                    h2 {
                        font-size: 42px;
                        margin-left: 31px;
                        margin-top: 174px;
                    }

                }

                .block2_main_podblock1_1_img1 {
                    width: 304px;
                    height: 327px;
                    background-image: url("/img/programming_small.png");
                    background-size: cover;
                }

                .block2_main_podblock1_1_img2 {
                    width: 100%;
                    height: 201px;
                    background-image: url("/img/programming_big.png");
                    background-size: cover;
                    margin-top: auto;
                }
            }

            .block2_main_podblock1_2 {
                width: 673px;
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                h2 {
                    font-size: 42px;
                }

                p {
                    max-width: 599px;
                    line-height: 1.5;
                    margin-bottom: 66px;
                    margin-top: 38px;
                    font-weight: 300;
                }

                button {
                    background-color: #0A51CB;
                    color: white;
                    border: solid 2px rgb(255, 255, 255);
                    border-radius: 36px;
                    width: 236px;
                    height: 60px;
                    font-size: 18px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                }
            }
        }

        .block2_main_podblock2 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 100px;

            .block2_card {
                width: 473px;
                height: 408px;
                background-color: white;
                filter: drop-shadow(20px 20px 45px #00000023);

                .block2_card_div {
                    display: flex;
                    justify-content: space-between;
                    width: 281px;
                    height: 52px;
                    margin-left: 39px;
                    margin-top: 64px;

                    .block2_card_div_img1 {
                        width: 44px;
                        height: 49px;
                        background-image: url("/img/arrow_up.svg");
                        background-size: cover;
                    }

                    .block2_card_div_img2 {
                        width: 2px;
                        background-color: #E3E3E3;
                        height: 49px;
                    }

                    p {
                        font-weight: bold;
                        line-height: 1.5;
                        max-width: 170px;
                        height: 49px;
                        margin: 0;
                    }
                }

                p {
                    line-height: 2;
                    max-width: 395px;
                    height: 186px;
                    margin: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 42px;
                    font-weight: 300;
                }
            }
        }
    }
}

.block3 {
    width: 100%;
    height: 748px;
    background-color: #1A1A1A;
    display: flex;

    .block3_img {
        width: 436px;
        height: 748px;
        background-image: url("/img/code.png");
        background-size: cover;
    }

    .block3_podblock1 {
        width: 1484px;
        height: 748px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        .block3_podblock1_1 {
            width: 401px;
            height: 345px;

            h2 {
                width: 401px;
                height: 162px;
                font-size: 42px;
                line-height: 1.5;
            }

            div {
                width: 65px;
                height: 2px;
                background-color: #FFFFFF;
                margin-top: 55px;
                margin-bottom: 68px;
            }

            button {
                background-color: #0A51CB;
                color: white;
                border-radius: 36px;
                width: 300px;
                height: 60px;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: auto;
            }
        }

        .block3_podblock1_2 {
            width: 591px;
            height: 596px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .block3_podblock1_2_img {
                width: 85px;
                height: 596px;
                background-image: url("/img/line_circles.svg");
                background-size: cover;
            }

            .block3_podblock1_2_div {
                line-height: 1.6;
                width: 468px;
                height: 449px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                font-weight: 300;

                p {
                    strong {
                        font-weight: bold;
                    }

                    width: 468px;
                    height: 119px;
                }
            }

        }

    }
}

.block4 {
    width: 100%;
    height: 1014px;
    display: flex;
    align-items: center;
    justify-content: center;

    .block4_main {
        height: 781px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .block4_podblock1 {
            width: 100%;
            height: 131px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .block4_podblock1_1 {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                p {
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                }

                div {
                    background-color: #133F8D;
                    width: 65px;
                    height: 2px;
                }

                h2 {
                    width: 100%;
                    font-size: 42px;
                    font-weight: bold;
                    text-align: center;
                }
            }


        }

        .block4_podblock2 {
            width: 1480px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 109px;

            .card {
                display: flex;
                width: 710px;
                height: 155px;
                justify-content: space-between;

                img {
                    width: 85px;
                    height: auto;
                }

                .card_block {
                    width: 600px;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: start;

                    h3 {
                        font-weight: bold;
                        width: 100%;
                    }

                    div {
                        width: 36px;
                        height: 2px;
                        background-color: #194DD2;
                    }

                    p {
                        font-weight: 500;
                        line-height: 1.5;
                        width: 100%;
                        margin-right: auto;
                        padding-right: 150px;
                    }
                }
            }
        }

        .block4_podblock3 {
            width: 576px;
            display: flex;
            margin-top: 97px;

            .button1 {
                background-color: #0A51CB;
                color: white;
                border: solid 2px rgb(255, 255, 255);
                border-radius: 36px;
                width: 236px;
                height: 60px;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: auto;
            }

            .button2 {
                background-color: none;
                color: #002C54;
                border: solid 2px #002C54;
                border-radius: 36px;
                width: 300px;
                height: 60px;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: auto;
            }
        }
    }
}